/*@font-face {
	font-family: "Exo-Thin";
	src: url("../fonts/Exo/Exo-Thin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Exo";
	src: url("../fonts/Exo/Exo-ExtraLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}